#!name = Bing AI
#!desc = 将Safari浏览器伪装为Edge浏览器，以便绕过BingAI的使用限制。
#!openUrl = 
#!author = smxl
#!homepage = hhttps://gitlab.com/lodepuly/vpn_tool/-/tree/main/Tool/QuantumultX/Rewrite

#[rewrite_local]
^https:\/\/www\.bing\.com\/(search|new) url script-request-header https://gitlab.com/lodepuly/vpn_tool/-/raw/main/Resource/Script/Bing/BingAI.js

#[mitm]
hostname = www.bing.com