#!name = 伪装百度搜索
#!desc = 将浏览器伪装成百度搜索App，以获得无广告的搜索结果。此插件对百度搜索首页无效，只对搜索结果页有效，并且会强制重定向到移动端页面。
#!openUrl = 
#!author = 可莉🅥
#!homepage = https://gitlab.com/lodepuly/vpn_tool/-/tree/main/Tool/QuantumultX/Rewrite

[Rewrite]
^https?:\/\/www\.baidu\.com url 302 https://m.baidu.com
^https?:\/\/m\.baidu\.com header-replace user-agent Mozilla/5.0 (iPhone; CPU iPhone OS 16_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148 SearchCraft/3.9.0 (Baidu; P2 16.3)

[MITM]
hostname = m.baidu.com, www.baidu.com